primaryMuted = hsl(0, 0%, 40%)

*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  background-color hsl(0, 0%, 8%)
  color hsl(0, 0%, 70%)
  height 100%
  text-align center
  font-size 30px
  font-family Helvetica, sans-serif
  padding-top 3em

h1
  color hsl(0, 0%, 85%)
  font-family 'PT Mono'
  font-size 3em
  line-height 1
  margin-bottom 2rem

hr
  height 1px
  width 20em
  background-color primaryMuted
  margin 1em auto

small
  display inline-block

#utc-output
  margin-bottom 1em

input[type=text]
  background-color inherit
  border-width 1px
  border-style solid
  border-radius 0.3em
  border-color primaryMuted
  color inherit
  display inline-block
  padding 0.5em 1em
  text-align center
  width 20em
  max-width: 80%
  margin-bottom 2em

#info
  font-size: 0.5em

  h2
    line-height 2em

  .col1, .col2
    display inline-block
    text-align: left
    width: 8em

  .col1
    text-align: right
    color primaryMuted


small
  color primaryMuted
  font-size: 0.5em
  a
    color inherit
