*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  background-color rgb(20, 20, 22)
  // color rgb(80, 80, 80)
  color rgb(180, 180, 180)
  height 100%
  text-align center
  font-size 30px
  font-family Helvetica, sans-serif
  padding-top 3em

h1
  // color rgb(30, 30, 30)
  color rgb(220, 220, 220)
  font-family 'PT Mono'
  font-size 5em
  line-height 1
  margin-bottom 2rem

small
  display inline-block
  margin-bottom 3em

#utc-output
  margin-bottom 1em

input[type=text]
  background-color inherit
  border-width 1px
  border-style solid
  border-radius 0.3em
  // border-color rgb(80, 80, 80)
  border-color rgb(180, 180, 180)
  color inherit
  display inline-block
  padding 0.5em 1em
  text-align center
  width 20em
  max-width: 80%
  margin-bottom 2em

#info
  font-size: 0.5em

  h2
    line-height 2em

  .col1, .col2
    display inline-block
    text-align: left
    width: 8em

  .col1
    text-align: right

small
  font-size: 0.5em
  a
    color inherit
