* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 70%);
  height: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  padding-top: 3em;
}

h1 {
  color: hsl(0, 0%, 85%);
  font-family: 'PT Mono';
  font-size: 3em;
  line-height: 1;
  margin-bottom: 2rem;
}

hr {
  height: 1px;
  width: 20em;
  background-color: hsl(0, 0%, 40%);
  margin: 1em auto;
}

small {
  display: inline-block;
  color: hsl(0, 0%, 40%);
  font-size: 0.5em;
}

small a {
  color: inherit;
}

#utc-output {
  margin-bottom: 1em;
}

input[type=text] {
  background-color: inherit;
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 0.3em;
  color: inherit;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  width: 20em;
  max-width: 80%;
  margin-bottom: 2em;
}

#info {
  font-size: 0.5em;
}

#info h2 {
  line-height: 2em;
}

#info .col1,
#info .col2 {
  display: inline-block;
  text-align: left;
  width: 8em;
}

#info .col1 {
  text-align: right;
  color: hsl(0, 0%, 40%);
}
